<!DOCTYPE html>
<html>
<head>
    <title>پذیرش قرار</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .jumbotron{
            padding: 20px;
            margin-bottom: 20px;
            background-color: rgb(177, 177, 177);
            text-align: center; /* اضافه شده */
        }
        .navbar{
            justify-content: center; /* اضافه شده */
        }
    </style>
 </head>
<body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'create' %}">پذیرش</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'allstudent' %}">اسامی</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'group' %}">گروه ها</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'grade' %}">پایه تحصیلی</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
       <div class="jumbotron" >
        {% include 'messages.html' %}
        {% block c %}
         {% endblock %}
      </div>
 </body>
</html>