{% extends 'base.html' %}
 {% block c %}
 <title>تعداد هر مدرسه</title>

 <style>
    body {
        direction: rtl;
    }
        body, td, th {
            font-family: Calibre, sans-serif;
            }
            *:lang(fa) {
                font-family: Btitr, sans-serif;
            }

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-container table {
    margin: 0 auto;
    width: 300px;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

.table-container h1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.table-container h6 {
    margin-top: 0;
    margin-right: -607px;
    font-size: 12px;
    text-align:right;
}

    </style>



<div class="table-container">
<h1>مدارس</h1>
 <h6>  تعداد کل : {{ count }}</h6>
 <table style="border-collapse: collapse; background-color: #f2f2f2;">
    <tr style="background-color: #ddd;">
        <th style="border: 1px solid #ddd; padding: 8px;">اندیشه‌ صفا</th>
        <th style="border: 1px solid #ddd; padding: 8px;">ارشاد</th>
        <th style="border: 1px solid #ddd; padding: 8px;">چیتچیان</th>


        <th style="border: 1px solid #ddd; padding: 8px;">متقرقه</th>

    </tr>
    <tr style="border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 8px;">{{ 1_count }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ 2_count }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ 3_count }}</td>


        <td style="border: 1px solid #ddd; padding: 8px;">{{ z_count }}</td>
    </tr>
</table>
</div>


 {% endblock %}